/*Mobile size*/

html {
    min-width: 320px;
    max-width: 480px;
    height: 850px;
}

* {
    box-sizing: border-box;
}

:root {
    --whiteBlue: #ECF5F5;
    --lightYellow: #FDEEBD;
    --yellow: #F2D42F;
    --pink: #EB7E83;
    --oldRed: #E3513E;
    --red: #F20D21;
    --blue: #3A5C9D;
    --darkBlue: #192F58;
}

@font-palette-values --Alternate {
    font-family: "Bungee Spice";
    override-colors:
    0 #192F58,
    1 #192F58;
}

@font-palette-values --ButtonColor {
    font-family: "Bungee Spice";
    override-colors:
    0 #ECF5F5,
    1 #ECF5F5;
}
body {
    margin: 2em;
    font-size: 10px;
    height: 100%;
    width: 390px;
    container-type: inline-size;
}

@container (min-width: 200px) and (max-width:480px) {

    .regular-text {
        font-family: "Tenor Sans";
        color: var(--darkBlue);
        font-size: 2em;
    }
    
    .bold-text {
        font-family: "Bungee Spice";
            font-palette: --Alternate;
    }
    
    .frames {
        position: absolute;
        height: 850px;
        width: inherit;
    }
    
    .frame-right, .frame-left, .frame-top, .frame-bottom {
        background-color: var(--yellow);
        border: var(--red) 0.6em solid;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .frame-right, .frame-left {
        width: 3em;
        height: 100%;
        top: 0;
        flex-direction: column;
    }
    
    .frame-left {
        left: 0;
    }
    
    .frame-right {
        right: 0;
    }
    
    .frame-top, .frame-bottom {
        height: 3em;
        width: 100%;
        left: 0;
        padding: 0 1.5em;
    }
    
    .frame-top {
        top: 0;
    }
    
    .frame-bottom {
        bottom: 0;
    }
    
    .light {
        width: 1.5em;
        height: 1.5em;
        background-color: var(--whiteBlue);
        border: none;
        border-radius: 50%;
    }
    
    main {
        width: 100%;
        height: 850px;
        background-image: url(/Source-files/SVG/color-wheel-cropped.svg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    
    .welcome-sign {
        width: 80%;
        height: 25%;
        background-image: url(/Source-files/SVG/welcome-sign.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .game-name {
        text-align: center;
        font-size: 3.5em;
        margin-block-start: 0em;
        margin-block-end: 0.5em;
    }
    
    .rules {
        width: 80%;
        height: 35%;
        align-items: center;
        justify-content: center;
        background-image: url(/Source-files/SVG/rules-area.svg);
        background-repeat: no-repeat;
        background-size: 80cqw 25cqh;
        background-origin: content-box;
        padding: none;
    }
    
    .rules-text {
        padding: 0.5rem 1rem;
        text-align: center;
        text-justify: center;
    }
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #name, #buttonstart {
        width: 55%;
        border-radius: 0.7em;
        border: 10px var(--blue) solid;
        margin: 1em 0;
    }
    
    #name {
        background-color:var(--pink);
        padding: 1.2em;
    }
    
    ::placeholder {
        font-family: "Tenor Sans";
        font-size: 1.4em;
        text-align: center;
        color: var(--whiteBlue);
    }
    
    
    .start-button {
        background-color:var(--red);
        font-palette: --ButtonColor;
        font-size: 2em;
        padding: 0.8em;
    }
    
    
}
