* {
    box-sizing: border-box;
}

:root {
    --whiteBlue: #ECF5F5;
    --lightYellow: #FDEEBD;
    --yellow: #F2D42F;
    --pink: #EB7E83;
    --oldRed: #E3513E;
    --red: #F20D21;
    --blue: #3A5C9D;
    --darkBlue: #192F58;
}

@font-palette-values --TextColor {
    font-family: "Bungee Spice";
    override-colors:
    0 #192F58,
    1 #192F58;
}

@font-palette-values --ButtonColor {
    font-family: "Bungee Spice";
    override-colors:
    0 #ECF5F5,
    1 #ECF5F5;
}

.regular-text {
    font-family: "Tenor Sans";
    color: var(--darkBlue);
    font-size: 2em;
}

.bold-text {
    font-family: "Bungee Spice";
        font-palette: --TextColor;
}

.button {
    width: 192px;
    height: 65px;
    border-radius: 0.7em;
    border: 10px var(--blue) solid;
    background-color:var(--red);
    font-palette: --ButtonColor;
    font-size: 2em;
}
