@import "/styles/common-styles.css";

.popup-overlay {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}
.popup {
    width: 348px;
    height: 647px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: var(--oldRed);
    border: solid #FDEEBD 10px;
    border-radius: 55px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popup-content {
    position: absolute;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
}
/*.popup.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
}*/
.congrats {
    width: 310px;
    height: 252px;
    background-image: url(/Source-files/SVG/rules-area.svg);
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h2{
    margin: 0px;
}
.p {
    margin: 0;
    font-size: 22px;
}
h3 {
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
span {
    font-size:x-large;
}
a{
    text-decoration: none;
}

