@import "/styles/common-styles.css";

html {
  font-family: "Bungee Spice", sans-serif;
  min-width: auto;
  max-width: none;
  height: auto;
}

body {
  /* height: 100vh; */
  max-width: 1280px;
  border: var(--oldRed) solid 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--lightYellow);
}

.settings {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.restart,
.start {
  width: 192px;
  height: 65px;
  background-color: var(--red);
  border-radius: 10px;
  border: var(--blue) solid 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-icon, #mute-icon, #mute-button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
}

.gamezone {
  margin-top: 20px;
  width: 100%
}

.frame {
  height: 378px;
  width: 100%;
  background: url(/Source-files/frame-background.png) center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scope {
  display: flex;
  width: 370px;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1;
} 

.target {
  margin-top: 20px;
  position: absolute;
  z-index: 3;
  
}

.ducks {
  width: 308px;
  margin-left: 8px;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.duck {
  width: 75px;
  position: relative;
  /* margin-right: 30px; */
  animation: move 6s infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(350px);
  }
  to {
    transform: translateX(-300px);
  }
}


.duck:nth-child(1) {
  animation-delay: 0.5s;
}

.duck:nth-child(2) {
  animation-delay: 1s;
}

.duck:nth-child(3) {
  animation-delay: 1.5s;
}

.duck:nth-child(4) {
  animation-delay: 2s;
}

.duck:nth-child(5) {
  animation-delay: 2.5s;
}

.duck img {
  width: 75px;
}
  
.vertical-stripes { 
  
  background: repeating-linear-gradient( 90deg, var(--lightYellow), var(--lightYellow) 30px, #eb7e83a1 30px, #eb7e83a1 60px) }

.infogame {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  margin: 20px;
  width: 154px;
  height: 69px;
  background: url(/Source-files/SVG/score-timer-area.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: 100%;
}

.shoot {
  padding: 20px;
  width: 113px;
  height: 113px;
  background-color: var(--red);
  border-radius: 50%;
  border: var(--blue) solid 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}