@import "/styles/common-styles.css";

html {
  font-family: "Bungee Spice", sans-serif;
  min-width: auto;
  max-width: none;
  height: auto;
}

.bold-text1 {
  font-family: "Bungee Spice";
  font-palette: --ButtonColor;
}
.bold-text2 {
  font-family: "Bungee Spice";
  font-palette: --TextColor;
}

body {
  /* height: 100vh; */
  max-width: 1280px;
  border: var(--oldRed) solid 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--lightYellow);
}

.settings {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.restart,
.start {
  width: 192px;
  height: 65px;
  background-color: var(--red);
  border-radius: 10px;
  border: var(--blue) solid 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-icon, #mute-icon, #mute-button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
}

.frame {
  height: 378px;
  width: auto;
  background: url(/Source-files/frame-background.png) center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamezone {
  margin-top: 20px;
}

.row-ducks {
  display: flex;
  overflow: hidden;
  width: 305px;
  justify-content: center;
  align-items: center;
} 

.target {
  position: fixed;
  display:flex;
  justify-content: center;
  translate:179px 0;
  z-index: 1;
}
.duck {
  position: relative;
  translate: 0 0;
  animation: mover 4s infinite;
  animation-timing-function: linear;

}
.duck2 {
  animation-delay: 0.5s;
}
.duck3 {
  animation-delay: 1s;
}
.duck4 {
  animation-delay: 1.5s;
}
.duck5 {
  animation-delay: 2s;
}
  
.vertical-stripes { background: repeating-linear-gradient( 90deg, var(--lightYellow), var(--lightYellow) 30px, #eb7e83a1 30px, #eb7e83a1 60px) }

.infogame {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  margin: 20px;
  width: 154px;
  height: 69px;
  background: url(/Source-files/SVG/score-timer-area.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: 100%;
}

.shoot {
  padding: 20px;
  width: 113px;
  height: 113px;
  background-color: var(--red);
  border-radius: 50%;
  border: var(--blue) solid 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes mover {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(-200px);
  }
}
